# Text files
*.*manifest	text eol=lf
*.*xml		text eol=lf
*.c			text eol=lf
*.conf		text eol=lf
*.cpp		text eol=lf
*.cs		text eol=lf
*.csproj	text eol=lf
*.css		text eol=lf
*.gradle	text eol=lf
*.h			text eol=lf
*.hpp		text eol=lf
*.html		text eol=lf
*.importorder	text eol=lf
*.java		text eol=lf
*.java		text eol=lf
*.js		text eol=lf
*.json		text eol=lf
*.md		text eol=lf
*.pl		text eol=lf
*.prefs		text eol=lf
*.properties	text eol=lf
*.pubxml	text eol=lf
*.py		text eol=lf
*.py		text eol=lf
*.rb		text eol=lf
*.rb		text eol=lf
*.sh		text eol=lf
*.sln		text eol=lf
*.sql		text eol=lf
*.txt		text eol=lf
*.xaml		text eol=lf
*.yaml		text eol=lf
*.yml		text eol=lf
.editorconfig	text eol=lf
.git*		text eol=lf

# Windows text files
*.bat		text eol=crlf
*.cmd		text eol=crlf

# Binaries
*.bz2		binary
*.class		binary
*.csv		binary diff=diff
*.dll		binary
*.exe		binary
*.gz		binary
*.ico		binary
*.jar		binary
*.jpeg		binary
*.jpg		binary
*.png		binary
*.pptx		binary
*.tar		binary
*.war		binary
*.xlsx		binary
*.xz		binary
*.zst		binary
